/*  your css code here. If applicable */
.container{
	background-color:gray;
	border-style:solid;
	border-color:black;
	border-radius:10px;
	width:150px;
	padding:50px
}
#green{
	background-color:green;
	
}
#yellow{
	background-color:yellow;
	
}
#red{
	background-color:red;
	
}
.color{
	text-align:center;
	 height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
	
}